@charset "UTF-8";

html {
  margin: 0;
  padding: 0;
}

body {
	font-size: 14px;
	line-height: 1.6;
	color: #222222;
	background-color:#fff;
  font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  }

  h1 {
  font-family: Forum;
  font-size: 42px;
  font-style: normal;
  font-variant: normal;
  letter-spacing: 0.2em;
  }

  h2 {
    color: #ddbaa8;
    font-family: Forum;
    font-size: 36px;
    font-style: normal;
    font-variant: normal;
    line-height: 26.4px;
    text-align: center;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
  }

  h3 {
    font-family: Forum,"ヒラギノ明朝 Pro", "Hiragino Mincho Pro";
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
    letter-spacing: 0.2em;
    text-align: center;
    }

    a {
      font-family: Forum;
      }

a:hover {
  opacity: 80%;
}

#SPA-treatment, #menu, #concept, #staff, #blog, #location {
	padding-top: 120px;
}

ul,li {
  list-style: none;
}

/* ================================================ */
/*button*/
/* ================================================ */
.button-small {
  display: block;
  width: 200px;
  height: 50px;
  background-color: #222222;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 50px;
  text-align: center;
}

.button-small:hover {
  opacity: 80%;
}

.button {
  display: block;
  width: 260px;
  height: 65px;
  background-color: #fff;
  color: #222222;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 70px;
  text-align: center;
}

.button:hover {
  opacity: 80%;
}

/* ================================================ */
/*header*/
/* ================================================ */
#header {
  background-color: #FFFFFF;
  max-width: 1200px;
  margin: 0 auto;
  height: 80px;
  top: 0;
  z-index: 1;
}

.header-inner {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header-menu {
	display: flex;
	justify-content: space-between;
  flex-wrap: wrap;
  gap: 33px 33px;
}

.header-menu a {
  font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 18px;
  letter-spacing: 0.2em;
}

.header-list li {
	margin-right: 20px;
}

#header h1 {
  margin-right: 100px;
}

#header h2 {
	margin-right: 60px;
  margin-bottom: 0;
}

.toggle-menu-button {
  display: none;
}

/* ================================================ */
/*main visual*/
/* ================================================ */


#main-image {
  text-align: center;
}

#main-image img {
  height: 64vh;
}


/* ================================================ */
/*Spa Treatment*/
/* ================================================ */


#SPA-treatment {
	background-color: #ffffff;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 180px;
}


#SPA-treatment img {
  height: 400px;
  margin-right: 20px;
}

.SPA-text {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#SPA-treatment p {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  margin-top: 25px;
}

#SPA-treatment span {
  display: block;
}

.menu-contents {
  max-width: 80%;
  margin: 0 auto;
}

.treatment-menu .item {
  display: flex;
  flex-wrap: nowrap;
  text-decoration: none;
  border-bottom: 1px solid #CCC;
  padding-left: 30px;
  padding-bottom: 0px;
  padding-top: 12px;
}

.treatment-menu .item:first-child {
  padding-top: 30px;
}

.treatment-menu .item .menu-name {
  margin: 0;
  width: 100%;
  font-size: 16px;
  padding: 0 20px 0 0;
}

.treatment-menu .item .price {
  margin: 0;
  width: 100%;
  text-align: right;
}

.treatment-menu .menu-name span {
  display: inline-block;
}

.treatment-menu .price span {
  font-size: 12px;
}


#intro {
	background-color: #5e756e;
  margin-top: 100px;
  padding-bottom: 40px;
  padding-top: 40px;
}

#intro p {
  color: #ffffff;
  font-size: 26px;
  text-align: center;
  padding-bottom: 20px;
}

#intro .button {
  align-items: center;
  margin: 0 auto;
  padding-bottom: 20px;
}

#concept{
	background-color: #fff;
  max-width: 80%;
  margin: 0 auto;
}

#concept h2 {
  color: #eac2ad;
}

#concept p {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  margin-top: 25px;
}

#concept .concept-copy {
  font-size: 36px;
  line-height: 73px;
  letter-spacing: 0.1em;
}

/* ここからSTAFF */
#staff{
	background-color: #fff;
  max-width: 80%;
  margin: 0 auto
}

.staff-intro {
  text-align:center;
}

.staff-list {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.staff-list li {
  width: 30%;
}

.staff-list p {
  padding-top: 20px;
}

/* ここからblog */
#blog {
  background-color: #fff;
}

.contents {
  background-color: #f6f0ed;
  max-width: 80%;
  margin: 0 auto;
}

.blog-list {
  width: 80%;
  margin: 0 auto;
}

.blog-list .item a {
  display: flex;
  flex-wrap: nowrap;
  text-decoration: none;
  border-bottom: 1px solid #CCC;
  line-height: 3em;
}

.contents a:hover {
  color: #FFFFFF;
}

.blog-list .item:first-child a{
  padding-top: 20px;
}

.blog-list .item .date{
  margin: 0;
  min-width: 120px;
  font-size: 16px;
  padding: 0 20px 0 0;
}

.blog-list .item .title{
  margin: 0;
  width: 100%;
}


p.page {
  font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  text-align: center;
  padding: 15px;
}

#blog a {
  font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

#location{
	background-color: #94786e;
  padding-top: 52px;
  margin-top: 120px;
}

.location-inner {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
}

.info {
  margin-right: 20px;
}

p.location-name {
  color: #f0d8cc;
  font-size: 18px;
  line-height: 0.03em;
}

#location p {
  padding-bottom: 20px;
}

#location .info .button-small {
  color: #222222;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 10px;
}

.map iframe {
  display: block;
  width: 500px;
  height: 300px;
}

#footer p {
  text-align: center;
  padding-bottom: 28px;
  color: #f0d8cc;
}

}
